$black: #121212;
$white: #FFFFFF;
$grey: #C4C4C4;

$dark-grey: #2a2a2a;

$zombie: #11373b;
$multiplayer: #241649;

$gradient-zombie: linear-gradient(49deg, rgba(174, 227, 238, 1) 0%, rgba(148, 187, 233, 1) 56%, rgba(181, 220, 203, 1) 100%);
$gradient-multiplayer: linear-gradient(83deg, rgba(48,3,68,1) 0%, rgba(73,18,94,1) 33%, rgba(129,15,67,1) 71%, rgba(93,19,89,1) 97%);